## IDE
.idea
.vscode

## golang
vendor
logs
go.sum
hummingbird

## MacOS
.DS_Store

## binary
cmd/hummingbird-core/hummingbird-core
cmd/mqtt-broker/mqtt-broker

kuiper
db-data/leveldb-core-data
manifest/docker/db-data/leveldb-core-data/
manifest/docker/driver-data/